# Neon
DATABASE_URL=
NEON_DATABASE_URL=

# Admin login
ADMIN_USERNAME=fedexadmin
ADMIN_PASSWORD=change-this-password
ADMIN_SECRET=change-this-password

# Optional FedEx Track API
FEDEX_CLIENT_ID=
FEDEX_CLIENT_SECRET=
FEDEX_API_ENV=sandbox
